@import '~antd/dist/antd.css';
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f0f2f5;
}

.ant-menu-submenu-title > a{
  color: rgba(0, 0, 0, 0.65);
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.qr-code-view{
  position: fixed;
  right: 40px;
  top: 100px;
  padding: 10px;
  background: #fff;
  box-shadow: 2px 2px 30px #ccc;
}

.qr-code-header{
  padding: 10px 0 20px 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.qr-code-title{
  text-align: center;
  font-size: 10px;
  color: #ccc;
}

/*对 markdown 样式的补充*/
pre {
  display: block;
  padding: 10px;
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #abb2bf;
  background: #282c34;
  word-break: break-all;
  word-wrap: break-word;
  overflow: auto;
}
h1,h2,h3,h4,h5,h6{
  margin-top: 1em;
  /* margin-bottom: 1em; */
}

h1{
  border-left: 5px solid #f00;
  padding-left: 5px;
}

strong {
  font-weight: bold;
}

p > code:not([class]) {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
p img{
  /* 图片居中 */
  margin: 0 auto;
  display: flex;
}

#content {
  font-family: "Microsoft YaHei",  'sans-serif';
  font-size: 16px;
  line-height: 30px;
}

#content .desc ul,#content .desc ol {
  color: #333333;
  margin: 1.5em 0 0 25px;
}

#content .desc h1, #content .desc h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

#content .desc a {
  color: #009a61;
}

#content img{
  max-width: 100%;
  min-width: 40%;
}

.article-title{
  text-align: center;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
}

blockquote{
  border-left: 3px solid #888;
  padding-left: 10px;
  background: #eee;
  color: #888;
  margin-left: 10px;
}